<div class="content">
    <header>
      Crear nuevo curso particular
    </header>
    <div>
      <div class="input">
        <label>Nombre:</label>
        <input
          type="text"
          [(ngModel)]="name"
          placeholder="Nombre del curso"
          class="input-text"
        />
      </div>

      <div class="input">
        <label>Tema:</label>
        <select [(ngModel)]="theme">
            <option value="Programacion">Programación</option>
            <option value="Oficina">Oficina</option>
            <option value="Diseño Grafico">Diseño Gráfico</option>
        </select>
      </div>

      <div class="input">
        <label>Descripción:</label>
        <textarea id="descripcion" cols="20" rows="8" placeholder="tak taka"></textarea>
      </div>

      <div class="input">
        <label>Docente:</label>
        <select [(ngModel)]="teacher">
            <option value="Andres">Andres</option>
            <option value="Belen">Belen</option>
            <option value="Carlos">Carlos</option>
        </select>
      </div>

      <div class="input">
        <label>Fecha de inicio:</label>
        <input class="input-date" type="date" [(ngModel)]="startdate"/>
      </div>

      <div class="input">
        <label>Fecha de finalización:</label>
        <input class="input-date" type="date" [(ngModel)]="enddate"/>
      </div>

      <div class="input">
        <label>Horario de inicio:</label>
        <input class="input-date" type="time" [(ngModel)]="starttime"/>
      </div>

      <div class="input">
        <label>Hora de finalización:</label>
        <input class="input-date" type="time" [(ngModel)]="endtime"/>
      </div>

      <div class="input">
        <label>Costo:</label>
        <input
          type="text"
          [(ngModel)]="cost"
          class="input-text"
          placeholder="$"
        />
      </div>

    </div>
</div>

<button  (click)="test()"  type="submit" >
  Cancelar
</button>

<button  (click)="createCourse()" type="submit" >
  Agregar
</button>

<div> 
  <h2>-------------------------</h2>
</div>

<div class="alert" *ngIf="showAlert">
  <header style="border-bottom: 1px solid black;font-size: 22px;font-weight: bold;">Curso Creado</header>
  <div>
    <h4>El curso ha sido creado exitosamente</h4>
  </div>
  <div>
    <button style="margin-bottom: 15px;" (click)="closeAlert()"  type="submit">Volver</button> 
  </div>
</div>
<div class="backdrop" *ngIf="showAlert"></div>


<!--
<div> 
  <h2>-------------------------</h2>
</div>
<header style="padding: 1rem; background-color: #F7F2A2; text-align: center;">
  Crear nuevo curso particular
</header>
<form action="/">
  <label for="nombre">Nombre:</label><br>
  <input type="text" id="nombre" name="nombre" placeholder="Nombre del curso"><br><br>

  <label for="tematica">Tematica:</label><br>
  <select name="tematica">
      <option value="programacion">Programacion</option>
      <option value="programacion">Programacion</option>
      <option value="programacion">Programacion</option>
  </select><br><br>
  <label for="descripcion">Descripcion:</label><br>

  <label for="docente">Docente:</label><br>
  <select name="docente">
      <option value="Perez">Perez</option>
      <option value="Lopez">Lopez</option> 
  </select><br><br>
  <label for="fecha_inicio">Fecha Inicio:</label><br>
  <input type="date"><br><br>
  <label for="fecha_finalizacion">Fecha Finalizacion:</label><br>
  <input type="date"><br><br>
  <label for="horario_inicio">Horario de inicio:</label><br>
  <input type="time"><br><br>
  <label for="horario_finalizacion">Horario de finalizacion:</label><br>
  <input type="time"><br><br>
  <label for="costo">Costo:</label><br>
  <input type="number" min="1" step="any" placeholder="$">
</form>
<br> 
<a href="#">Cancelar</a>
<button>Agregar</button>
<br>
<section  style="border: 1px solid">
<h2 style="background-color: #F7F2A2;padding: 0px;margin-top: 0px;">Curso creado</h2>
<p>El curso ha sido creado exitosamente</p>
<button>Volver</button>
</section>
<div>

</div>
-->