<div class="content">
    <header>
      Crear nuevo curso particular
    </header>
    <div>
      <div class="input">
        <label>Nombre:</label>
        <input
          type="text"
          [(ngModel)]="nombre"
          placeholder="Nombre del curso"
          class="input-text"
        />
      </div>

      <div class="input">
        <label>Tema:</label>
        <select name="select" [(ngModel)]="tema">
            <option value="" disabled selected>Seleccione una opción</option>
            <option *ngFor="let tema of temas" [value]="tema.id">{{tema.nombre}}</option>
        </select>
      </div>

      <div class="input">
        <label>Descripción:</label>
        <textarea name="descripcion" id="descripcion" cols="20" rows="8" placeholder="Ingrese una descripción" [(ngModel)]="description"></textarea>
      </div>

      <div class="input">
        <label>Docente:</label>
        <select name="select" [(ngModel)]="docente">
            <option value="" disabled selected>Seleccione una opción</option>
            <option *ngFor="let docente of docentes" [value]="docente.id">{{docente.nombre}}</option>
        </select>
      </div>

      <div class="input">
        <label>Fecha de inicio:</label>
        <input class="input-date" type="date" [(ngModel)]="fechaInicio"/>
      </div>

      <div class="input">
        <label>Fecha de finalización:</label>
        <input class="input-date" type="date" [(ngModel)]="fechaFin"/>
      </div>

      <div class="input">
        <label>Costo:</label>
        <input
          type="text"
          [(ngModel)]="precioTotal"
          class="input-text"
          placeholder="$"
        />
      </div>

      <div class="buttoncontainer">
      <button  (click)="test()"  type="submit" >
        Cancelar
      </button>
  
      <button  (click)="createCourse()" type="submit" >
        Agregar
      </button>
      </div>

    </div>

</div>

<div class="alert" *ngIf="showAlert">
  <header style="border-bottom: 1px solid black;font-size: 22px;font-weight: bold;">Curso Creado</header>
  <div>
    <h4>El curso ha sido creado exitosamente</h4>
  </div>
  <div>
    <button style="margin-bottom: 15px;" (click)="closeAlert()"  type="submit">Volver</button> 
  </div>
</div>
<div class="backdrop" *ngIf="showAlert"></div>