<div class="container-fluid">
    <div class = "p-2 d-flex justify-content-center">
        <h2>Listado de cursos</h2>
    </div>
    <div class = "p-2">
    <button (click)="createCourse()" class = "btn btn-primary" type="submit">Añadir curso personal</button> 
</div>
    <table class = "table table-striped table-bordered">
        <thead>
        <tr>
            <th style="width:15%" scope="col">Nombre</th>
            <th style="width:10%" scope="col">Tema</th>
            <th style="width:15%" scope="col">Fecha de inicio</th>
            <th style="width:10%" scope="col">Fecha de finalizacion</th>
            <th style="width:10%" scope="col">Docente</th>
            <th style="width:5%" scope="col">Cantidad Alumnos</th>
            <th style="width:5%" scope="col">Precio Total</th>
            <th style="width:5%" scope="col">Alcance de Curso</th>
            <th style="width:5%" scope="col">Empresa</th>
            <th style="width:5%" scope="col">Aula</th>
            <th style="width:5%" scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td align="center">{{course.nombre}}</td>
            <td align="center">{{course.tema?.nombre}}</td>
            <td align="center">{{course.fechaInicio}}</td>
            <td align="center">{{course.fechaFin}}</td>
            <td align="center">{{course.docente?.nombre}}</td>
            <td align="center">{{course.empresa?(course.cantidadAlumnos?course.cantidadAlumnos:0):course.cantidadAlumnosCursoPersonal}}</td>
            <td align="center">{{course.precioTotal}}</td>
            <td align="center">{{course.empresa!=null?'Empresarial':'Personal'}}</td>
            <td align="center">{{course.empresa?course.empresa.nombre:'-'}}</td>
            <td align="center">{{course.aula?course.aula.codigo:'-'}}</td>
            <td align="center">
                <div style="display: flex; justify-content: space-around;">
                    <img src="..\..\..\assets\icons\pencil-outline.svg" height="20" style="cursor: pointer;">
                    <img src="..\..\..\assets\icons\close-circle-outline.svg" height="20" style="cursor: pointer;">
                </div>

            </td> 
        </tr>
        </tbody>
    </table>
</div>