<div class="content">
    <header>
        Instituto Educativo - Listado de cursos
    </header>
    <table style="width:100%">
        <tr>
            <th scope="col" style="margin-left:70px;" >Curso</th>
            <th scope="col">Tema</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha de finalizacion</th>
            <th scope="col">Docente</th>
            <th scope="col">Cantidad Alumnos</th>
            <th scope="col">Precio Total</th>
            <th scope="col">Alcance de Curso</th>
            <th scope="col">Empresa</th>
            <th scope="col">Aula</th>
            <th scope="col">Acciones</th>
        </tr>
        
        <tr *ngFor="let course of courses">
            <td align="center">{{course.nombre}}</td>
            <td align="center">{{course.tema.nombre}}</td>
            <td align="center">{{course.fechaInicio}}</td>
            <td align="center">{{course.fechaFin}}</td>
            <td align="center">{{course.docente.nombre}}</td>
            <td align="center">{{course.cantidadAlumnos?course.cantidadAlumnos:0}}</td>
            <td align="center">{{course.precioTotal}}</td>
            <td align="center">{{course.courseReach}}</td>
            <td align="center">{{course.empresa?course.empresa.nombre:'Sin Empresa'}}</td>
            <td align="center">{{course.aula.codigo}}</td>
            <td align="center">{{course.actions}}</td> 
        </tr>
    </table>
</div>

<h2>Listado de cursos</h2>



<button (click)="test2()"  type="submit">Añadir</button> 

<!--
<tr>
    <td>1</td>
    <td>---</td>
    <td>Smalltalk</td>
    <td>Programación</td>
    <td>Juan Perez</td>
    <td>02/08/2022 - 30/08/2022</td>
    <td>Particular</td>
    <td>placeholder</td>
</tr>

<tr>
    <td>2</td>
    <td>---</td>
    <td>Word</td>
    <td>Oficio</td>
    <td>Julia Pereyra</td>
    <td>04/08/2022 - 26/08/2022</td>
    <td>Particular</td>
    <td>placeholder</td>
</tr>

<tr>
    <td>3</td>
    <td>Imprenta GP</td>
    <td>Diseño Gráfico</td>
    <td>Oficio</td>
    <td>Mario Medina</td>
    <td>09/08/2022 - 30/08/2022</td>
    <td>Empresarial</td>
    <td>placeholder</td>
</tr>

<tr>
    <td>4</td>
    <td>Banco Santender Rio</td>
    <td>Manejo de Word</td>
    <td>Oficio</td>
    <td>Julia Perez</td>
    <td>02/08/2022 - 23/08/2022</td>
    <td>Empresarial</td>
    <td>placeholder</td>
</tr>
</table>
-->